{# src/Flo/PortfolioBundle/Resources/views/Advert/list.html.twig #}

{% extends "FloShunrikBundle::layout.html.twig" %}

{#  #}

{% block floshunrik_body %}
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('flo_shunrik_list', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>

{% endblock %}